# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage
/playwright-report
/test-results

# NextJS Build Outputs
.next/
out/
build/
dist/

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS and Editor files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env*.local
.env
